################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tiki-clone-backend-asp.net/Shop/Shop.Controller/appsettings.json
